Answer 1-

We use for loop for iterating in a sequence that is already known.
for Example 
list=[34,56,76,78,65,43,23,45,78,90,65]
in this list 
if i want exaract data from list, then we need to do work on " index" .
like 
print(list[0])
print(list[1])
print(list[2])
print(list[3])
print(list[4])
print(list[5])
print(list[6])
print(list[7])
print(list[8])
print(list[9])
print(list[10])
simpli by using "for loop" we can extract data just a simple code
like 
for i in list:
    print(i)
 the output will be same.


While we use "while loop " for itarsting sequence that is unknown.
for Examle :
program to display numbers from 1 to 5

 initialize the variable
i = 1
n = 5

# while loop from i = 1 to 5
while i <= n:
    print(i)
    i = i + 1



Answer 2 
the sum and product of ten netural number by using for loop 
sum=0
product=1

for i in range(1,11):
    sum=sum+i
    product=product*i
print(sum)
print(product)
the sum and product of ten netural number by using for while loop

answer 3 
unit=int(input())
if unit <= 100:
    bill=unit*4.5
    print(bill)
    
elif unit>100:
    bill=450+((unit-100)*6)
    print(bill)
    
elif unit>200:
    bill=450+600+((unit-200)*10)
    print(bill)
elif unit>300:
    bill=450+600+1000+((unit-300)*20)
    print(bill)
note Input is 310
output is 1650
as per condition

answer 4
here a list of  1 to 100 has been created


new_list=list(range(1,101))
print(new_list)
result=[]
for i in new_list:
    result.append(i**3)
print(result)